# restore wallpapers from previous session
(sleep 2s && nitrogen --restore) &

# enable multiscreen
xrandr | grep -q HDMI-1 && xrandr --output eDP-1 --mode 1920x1200 --output HDMI-1 --auto --right-of eDP1 &

# load X resources
xrdb ~/.Xresources

# start picom
picom --experimental-backends &

# start Networkmanager
nm-applet &

# start lxsession
lxsession &

# turn off screen timeout
xset s off &
xset dpms 0 0 0 &
xset -dpms &

# load pywal colorscheme
wal -R &

# launch Nextcloud sync
nextcloud &

# launch flameshot as a background process
flameshot &

# load emacs daemon
emacs --daemon &
