# set screen resolution
sleep 2s
#xrandr --output eDP1 --mode 1920x1200 --output HDMI1 --mode 1920x1080 --right-of eDP1
screen.sh on

# restore wallpapers from previous session
(sleep 2s && nitrogen --restore) &

# load X resources
xrdb ~/.Xresources

# start picom
picom --experimental-backends &

# start Networkmanager
nm-applet &

# start lxsession
lxsession &

# turn off screen timeout
xset s off &
xset dpms 0 0 0 &
xset -dpms &

# load pywal colorscheme
wal -R &

# launch Nextcloud sync
nextcloud &

# launch flameshot as a background process
flameshot &

# load emacs daemon
emacs --daemon &
