# restore wallpapers from previous session
(sleep 2s && nitrogen --restore) &

# enable multiscreen
xrandr | /usr/bin/grep -q HDMI1 && xrandr --output eDP1 --auto --output HDMI1 --auto --right-of eDP1 &

# load X resources
xrdb ~/.Xresources

# start picom
picom &

# start lxsession
lxsession &

# turn off screen timeout
xset s off &
xset dpms 0 0 0 &
xset -dpms &

# load pywal colorscheme
wal -R &
