configuration {
	terminal: "alacritty";
	modi: "combi";
	font: "Ubuntu Mono 12";
	sorting-method: "fzf";
	combi-modi: "run,ssh";
	ssh-command: "{terminal} -e {ssh-client} {host}";

}
@theme "/usr/share/rofi/themes/sidebar.rasi"
